.App {
  text-align: center;
}

.output {
  height: 70px;
  width: 100%;
  background-color: #bbb;
}

.output p {
  font-size: 40px;
}

.keypad {
  max-width: 400px;
  margin: auto;
}

.buttons {
  display: block;
  background-color: #bbb;
}

.buttons button {
  width: 25%;
  height: 70px;
  font-size: 40px;
  color: rgb(88, 88, 88);
}